<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul>
                    <a href="{% url 'sales:home' %}">Home</a>
                    <a href="#home">Contact</a>
                    <a href="{% url 'sales:amazon_reports' %}">Amazon Reports</a>
                </ul>
            </nav>

        </header>
        <main class="body">
            {% block content %}
            {% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>