<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav class="nav">
                <span>Ecom-Dashboard</span>
                <ul>
                    <li><a href="{% url 'sales:home' %}">Home</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>

        </header>
        <main class="body">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">

        </footer>
    </body>
</html>