{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Home</h1>
</div>

<div class="parent-container">
    <!-- Child items for amazon -->
    <div class="child-container">
        <h2>Amazon Dashboard</h2>
        {% if shipment_summary %}
            <h4>Total Unscheduled Orders : {{shipment_summary.total_orders}}</h4> 
            <a href="{% url 'sales:amazon_reports' %}">Shipment Report : {{ship_date}}</a>
            {% for date,payment in shipment_summary.items %}
            <div class="order-summary">
                {% if date != 'total_orders' %}
                <h4>{{date}} : </h3>
                {% for method,count in payment.items %}
                <h4>{{method}} - {{count}}</h3>
                {% endfor %}
                {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h4 style="color: var(--alert-text);">API Response unavaillable.</h4> 
        {% endif %}
    </div>

</div>
<section>
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</section>
1. API call limit handling. <br>
2. Access token initialization from env file.<br>
5. cache file.<br>
6. auto data updation like js <br>
{% endblock %}